{% extends "TICPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ 'users' |trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/clip-one/plugins/select2/select2.css") }}">
{% endblock %}


{% block TrainersMenu %}
    <ul class="nav nav-second-level">
        <li>
            <a href="{{ path('tic_platform_users_add') }}"><i
                        class="fa fa-edit fa-fw"></i>{{ 'menu.details' |trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ 'users.edit' |trans }}</h1>
        </div>
    </div>
    <div class="row">
        {% include "TICUserBundle:Users:form.html.twig" %}
    </div>
    {% include "TICPlatformBundle:Common:cancel.html.twig" with {'route' : path('tic_platform_users')} %}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/select2/select2.min.js") }}"></script>
    <script type="application/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}