<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'performances.types.details' |trans }}
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_label(form.performanceType) }}
                    <div class="col-md-9">
                        {{ form_widget(form.performanceType) }}
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        {{ form_errors(form.performanceType) }}
                    </div>
                </div>
            </div>
            <div class="col-md-offset-9 col-md-3">
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
