{% extends "TICPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ 'performances.types'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/clip-one/plugins/DataTables/dataTables.bootstrap.min.css") }}">
    <link href="{{ asset("assets/clip-one/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("assets/clip-one/plugins/bootstrap-modal/css/bootstrap-modal.css") }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ 'performances.types' | trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% include "TICPlatformBundle:Common:flashbag.html.twig" %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'performance.type.list' | trans}}
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>{{ 'performance.type' | trans }}</th>
                            <th>{{ 'actions' | trans }}</th>
                            <th class="hidden"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items|length > 0 %}
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.performanceType }}</td>
                                    <td class="center">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            <a href="{{ path('tic_platform_main_performance_type_edit', {'itemID':item.id}) }}" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="{{ 'edit'|trans }}"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-xs btn-bricky tooltips deletePerformanceType" data-placement="top" data-original-title="{{ 'delete'|trans }}"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                    <td class="hidden performanceTypeID">{{ item.id }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <table class="buttonline col-md-12 ">
                        <tbody>
                        <tr>
                            <td align="left">
                                <a href="{{ path('tic_platform_main_performance_type_edit', {'itemID' : -1}) }}" class="btn btn-default">{{ 'add' | trans }}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'ToolsCustomBundle::modalRemove.html.twig' with {
        'modalID' : 'modalDeletePerformanceType', 'title' : 'performance.type.title'|trans, 'message' : 'performance.type.remove.message'|trans, 'messageModalID' : 'messageModal'
    } %}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/bootstrap-modal/js/bootstrap-modal.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/bootstrap-modal/js/bootstrap-modalmanager.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/DataTables/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/DataTables/dataTables.bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/main.js") }}"> </script>
    <script type="text/javascript" src="{{ asset("js/PerformanceType.js") }}"> </script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
