<div class="form-group col-md-12">
    {{ form_label(form.address.addressLine1 ) }}
    <div class="col-md-9">
        {{ form_widget(form.address.addressLine1) }}
    </div>
    <div class="col-md-offset-3 col-md-9">
        {{ form_errors(form.address.addressLine1) }}
    </div>
</div>
<div class="form-group col-md-12">
    {{ form_label(form.address.addressLine2 ) }}
    <div class="col-md-9">
        {{ form_widget(form.address.addressLine2) }}
    </div>
    <div class="col-md-offset-3 col-md-9">
        {{ form_errors(form.address.addressLine2) }}
    </div>
</div>
<div class="form-group col-md-12">
    {{ form_label(form.address.addressZipCode ) }}
    <div class="col-md-9">
        {{ form_widget(form.address.addressZipCode) }}
    </div>
    <div class="col-md-offset-3 col-md-9">
        {{ form_errors(form.address.addressZipCode) }}
    </div>
</div>
<div class="form-group col-md-12">
    {{ form_label(form.address.addressLocality ) }}
    <div class="col-md-9">
        {{ form_widget(form.address.addressLocality) }}
    </div>
    <div class="col-md-offset-3 col-md-9">
        {{ form_errors(form.address.addressLocality) }}
    </div>
</div>
<div class="form-group col-md-12">
    {{ form_label(form.address.countries ) }}
    <div class="col-md-9">
        {{ form_widget(form.address.countries) }}
    </div>
    <div class="col-md-offset-3 col-md-9">
        {{ form_errors(form.address.countries) }}
    </div>
</div>