{% extends "TICPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ 'trainers' |trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/clip-one/plugins/bootstrap-datepicker-1.6.0/dist/css/bootstrap-datepicker.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/clip-one/plugins/select2/select2.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/clip-one/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css") }}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ 'trainer.edit' |trans }}</h1>
        </div>
    </div>

    {% include "TICPlatformBundle:Trainers:form.html.twig" %}
    {% include "TICPlatformBundle:Common:cancel.html.twig" with {'route' : path('tic_platform_trainers')} %}


{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/bootstrap-datepicker-1.6.0/dist/js/bootstrap-datepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/main.js") }}"> </script>
    <script type="text/javascript" src="{{ asset("js/editTrainer.js") }}"> </script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}