{% extends "TICPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ 'sessions'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/clip-one/plugins/select2/select2.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/clip-one/plugins/DataTables/dataTables.bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/clip-one/plugins/bootstrap-datepicker-1.6.0/dist/css/bootstrap-datepicker.min.css") }}">
    <link href="{{ asset("assets/clip-one/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("assets/clip-one/plugins/bootstrap-modal/css/bootstrap-modal.css") }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ 'session' |trans }}</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'advanced.search' | trans }}
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_label(form.training) }}
                    <div class="col-md-9">
                        {{ form_widget(form.training) }}
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        {{ form_errors(form.training) }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.trainer) }}
                    <div class="col-md-9">
                        {{ form_widget(form.trainer) }}
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        {{ form_errors(form.trainer) }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.RangeDate.rangeDateBegin ) }}
                    <div class="col-md-9">
                        {{ form_widget(form.RangeDate.rangeDateBegin) }}
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        {{ form_errors(form.RangeDate.rangeDateBegin) }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.client ) }}
                    <div class="col-md-9">
                        {{ form_widget(form.client) }}
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        {{ form_errors(form.client) }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.RangeDate.rangeDateEnd ) }}
                    <div class="col-md-9">
                        {{ form_widget(form.RangeDate.rangeDateEnd) }}
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        {{ form_errors(form.RangeDate.rangeDateEnd) }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.contract ) }}
                    <div class="col-md-9">
                        {{ form_widget(form.contract) }}
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        {{ form_errors(form.contract) }}
                    </div>
                </div>
                <div class="col-md-offset-6 col-md-6">
                    <div class="col-md-6">
                        {{ form_widget(form.Search) }}
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('tic_platform_sessions') }}" class="btn btn-primary btn-block" id="Cancel">{{ 'cancel' | trans }}</a>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'session.list' |trans }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>{{ 'session.begin' |trans }}</th>
                            <th>{{ 'session.end' |trans }}</th>
                            <th>{{ 'clients' |trans }}</th>
                            <th>{{ 'contract.number' |trans }}</th>
                            <th>{{ 'address.locality' |trans }}</th>
                            <th>{{ 'training' |trans }}</th>
                            <th>{{ 'trainer.language' |trans }}</th>
                            <th>{{ 'performance.type' |trans }}</th>
                            <th>{{ 'trainer' |trans }}</th>
                            <th>{{ 'actions' |trans }}</th>
                            <th class="hidden"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if sessions |length > 0 %}
                            {% for session in sessions %}
                                <tr>
                                    <td>{{ session.rangeDate.rangeDateBegin |date("d-m-Y") }}</td>
                                    <td>{{ session.rangeDate.rangeDateEnd |date("d-m-Y") }}</td>
                                    <td>{{ session.contract.client.clientName }}</td>
                                    <td>{{ session.contract.contractNumber }}</td>
                                    <td>{{ session.address.addressLocality }}</td>
                                    <td>{{ session.training.trainingName }}</td>
                                    <td>{{ session.language.language }}</td>
                                    <td>{{ session.performanceType != null ? session.performanceType.performanceType : null }}</td>
                                    <td>{% for trainer in session.trainer %}
                                            {{ trainer }}<br/>
                                        {% endfor %}
                                    </td>
                                    <td class="center">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            <a href="{{ path('tic_platform_sessions_edit', {'id':session.id,}) }}" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="{{ 'edit'|trans }}"><i class="fa fa-edit"></i></a>
                                            <a href="{{ path('tic_platform_sessions_edit_planning', {'id':session.id,}) }}" class="btn btn-xs btn-warning tooltips" data-placement="top" data-original-title="{{ 'planning'|trans }}"><i class="fa fa-calendar"></i></a>
                                            <a class="btn btn-xs btn-bricky tooltips deleteSession" data-placement="top" data-original-title="{{ 'delete'|trans }}"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                    <td class="hidden sessionID">{{ session.id }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <table class="buttonline col-md-12 ">
                        <tbody>
                            <tr>
                                <td align="left">
                                    <a href="{{ path('tic_platform_sessions_add') }}" class="btn btn-default">{{ 'add'|trans }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'ToolsCustomBundle::modalRemove.html.twig' with {
        'modalID' : 'modalDeleteSession', 'title' : 'session.title'|trans, 'message' : 'session.remove.message'|trans, 'messageModalID' : 'messageModal'
    } %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/bootstrap-modal/js/bootstrap-modal.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/bootstrap-modal/js/bootstrap-modalmanager.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/DataTables/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/DataTables/dataTables.bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/clip-one/plugins/bootstrap-datepicker-1.6.0/dist/js/bootstrap-datepicker.min.js") }}"></script>
    <script type="application/javascript" src="{{ asset('js/main.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/Session.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
